body {
    background: black;
    color: white;
    padding: 10px;
    font-family: cursive;
    text-decoration: line-through;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: black;
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-style: double;
    border-color: white;
    text-decoration: line-through;
    font-family: cursive;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
    text-decoration: line-through;
    font-family: cursive;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
    text-decoration: line-through;
    font-family: cursive;
}
a {
    text-decoration: line-through;
    color: white;
    font-family: cursive;
}

/* main container area beneath menu */
main {
    background: black;
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px black;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
  /* portfolio styles */
  .content h1 {
    color: white;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: black;
}

#portfolio a {
    text-decoration: line-through;
    color: white;
}

div{
    border-style: dotted;

}
